.titleInput {
  transition: 0s;

  width: calc(100% - 36px);
  padding: 15px;

  height: 40px;

  background-color: transparent;
  border: none;

  color: rgb(134, 183, 223);
  font-weight: bold;

  border-radius: 10px;
  border: 2px solid rgb(157, 172, 226);
}

.titleInput::placeholder {
  color: rgb(131, 134, 196);
  font-weight: bold;
}

.titleInput:focus {
  outline: none;
}

.modal__content textarea {
  width: calc(100% - 36px);

  margin-top: 15px;

  padding: 15px;

  height: 110px;

  color: rgb(134, 183, 223);
  font-weight: bold;

  background-color: transparent;
  border: none;

  resize: none;

  border-radius: 10px;
  border: 2px solid rgb(157, 172, 226);
}

.bodyArea:focus {
  outline: none;
}

.bodyArea::placeholder {
  color: rgb(131, 134, 196);
  font-weight: bold;
}

.buttonArea {
  position: relative;
  top: 8px;
  height: 30px;
  width: 100%;
}

button {
  border: none;

  transition: all 0.4s;

  background-color: transparent;

  width: 30px;
  height: 30px;
}

button:hover {
  cursor: pointer;
}

.deleteButton {
  background-image: url("../../../images/blueDeleteIcon.png");
  background-size: cover;
}

.applyButton {
  background-image: url("../../../images/applyIcon.png");
  background-size: cover;

  position: absolute;
  right: 0px;
}
