@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.block {
  max-width: 70%;
  margin: 10px auto;
  padding: 13px;

  background-color: rgb(97, 99, 118);
  border-radius: 10px;

  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.completedTodo {
  border: 0px solid greenyellow;
}

.notCompletedTodo {
  border: 0px solid red;
}
