@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.toDoZone {
  position: relative;
  top: 120px;
}

.block {
  max-width: 70%;
  margin: 10px auto;
  padding: 1%;

  background-color: rgb(97, 99, 118);
  border-radius: 10px;

  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.block .mainPart {
  display: flex;
  flex-wrap: nowrap;
}

.block .checker {
  height: 23px;
  width: 23px;

  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.checker:hover {
  cursor: pointer;
}

.block .completedPart {
  height: inherit;
  min-width: 30px;
}

.block .titlePart {
  height: inherit;
  width: 100%;
}

.block .titlePart .title {
  margin-top: 0.7%;
}

.buttonPart {
  min-width: 30px;
  height: inherit;
}
.defaultButton {
  width: 23px;
  height: 23px;

  background-color: transparent;
  border: none;

  transition: all 0.4s;

  background-image: url("../../images/openArrow.png");
  background-size: cover;
}
.buttonPart .rotatingButton {
  width: 23px;
  height: 23px;

  position: relative;
  top: 50%;
  right: -7px;
  transform: translate(0, -50%);
}
.closedButton {
  transform: rotate(180deg);
}
.openedButton {
  transform: rotate(0deg);
}

.defaultButton:hover {
  cursor: pointer;
}

.botoomBar {
  border-top: 2px solid white;
  padding-top: 10px;
  margin-top: 1%;
  font-size: 20px;
}
