@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.toDoZone {
  position: relative;
  top: 120px;
}

.block {
  max-width: 70%;
  margin: 10px auto;
  padding: max(15px, 1%);

  background-color: rgb(97, 99, 118);
  border-radius: 10px;

  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.block .mainPart {
  display: flex;
  flex-wrap: nowrap;
}

.block .checker {
  height: 23px;
  width: 23px;

  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.checker:hover {
  cursor: pointer;
}

.block .completedPart {
  height: inherit;
  min-width: 30px;
}

.block .titlePart {
  height: inherit;
  width: 100%;
}

.block .titlePart .title {
  margin-top: 0.7%;
}

.buttonPart {
  min-width: 30px;
  height: inherit;
}

.defaultButton {
  width: 23px;
  height: 23px;

  background-color: transparent;
  border: none;

  transition: all 0.4s;

  background-image: url("../../images/openArrow.png");
  background-size: cover;
}
.buttonPart .rotatingButton {
  width: 23px;
  height: 23px;

  position: relative;
  top: 50%;
  right: -7px;
  transform: translate(0, -50%);
}
.defaultButton {
  transform: rotate(180deg);
}
.openedButton {
  transform: rotate(0deg);
}

.defaultButton:hover {
  cursor: pointer;
}

.botoomPart {
  position: relative;
  border-top: 2px solid white;
}

.bottomButtonBlock {
  width: 100%;
  height: 30px;

  margin-top: 10px;
}

.bottomButtonBlock button {
  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;

  transition: all 0.4s;

  background-size: cover;
}

.whiteDeleteButton {
  background-image: url("../../images/whiteDeleteIcon.png");
  background-size: cover;
}

.editButton {
  background-image: url("../../images/write.png");
  background-size: cover;
}

.bottomButtonBlock button:hover {
  cursor: pointer;
}

.bottomButtonBlock button:nth-child(2) {
  position: absolute;
  right: 0px;
}

.botoomBar {
  padding-top: 3px;

  font-size: 20px;

  height: auto;
}

.noToDoBlock {
  position: relative;
  text-align: center;

  color: rgb(157, 172, 226);
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 70px;
}
